<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<div class="wavy-wraper">
		<div class="wavy">
		  <span style="--i:1;">p</span>
		  <span style="--i:2;">i</span>
		  <span style="--i:3;">t</span>
		  <span style="--i:4;">n</span>
		  <span style="--i:5;">i</span>
		  <span style="--i:6;">k</span>
		  <span style="--i:7;">.</span>
		  <span style="--i:8;">.</span>
		  <span style="--i:9;">.</span>
		</div>
	</div>
<div class="theme-layout">

	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>

	</div><!-- responsive header -->

	<div class="topbar stick" th:replace="/header1::header1"></div><!-- topbar -->
		
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile" th:replace="/header2Friend::header2Friend"></div><!-- user profile banner  -->
							<div class="col-lg-12 col-md-12">
								<aside class="sidebar">
								<div class="central-meta stick-widget">
									<span class="create-post">Personal Info</span>
									<div class="personal-head">
										<span class="f-title"><i class="fa fa-user"></i> Name:</span>
										<p th:text="${userFriend.getName()}"></p>
										<span class="f-title"><i class="fa fa-user"></i> User Name:</span>
										<p th:text="${userFriend.getUsername()}"></p>
										<span class="f-title"><i class="fa fa-user"></i> About Me:</span>
										<p th:text="${userFriend.getDescription()}"></p>
										<span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
										<p th:text="${userFriend.getDob()}">
<!--											December 17, 1985-->
										</p>
										<span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
										<p th:text="${userFriend.getPhone()}">
<!--											+1-989-232435234-->
										</p>
<!--										-->
										<span class="f-title"><i class="fa fa-male"></i> Gender:</span>
										<p th:text="${userFriend.getGender()}">
<!--											Male-->
										</p>
										<span class="f-title"><i class="fa fa-globe"></i> Country:</span>
										<p th:text="${userFriend.getCountry()}">
<!--											San Francisco, California, USA-->
										</p>
<!--										-->

										<span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
										<p>
											<a href="wpkixx.html" title="" th:text="${userFriend.getEmail()}">www.wpkixx.com</a> <a href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ebbb829f858280ab92849e99868a8287c5888486">[email&#160;protected]</a>
										</p>
										
									</div>
								</div>
								</aside>	
							</div>	
<!--							<div class="col-lg-8 col-md-8" >-->
<!--								<div class="central-meta">-->
<!--									<span class="create-post">Friends</span>-->
<!--									<ul class="frndz-list" th:each="r: ${userFriendRelationshipList}">-->
<!--										<li>-->
<!--											<img  th:src="@{'/imageP/'+ ${r.userFriend.getAvatar()}}" alt="">-->
<!--											<div class="sugtd-frnd-meta">-->
<!--												<a href="#" title="" th:text="${r.userFriend.getUsername()}">Olivia</a>-->
<!--&lt;!&ndash;												<span>1 mutual friend</span>&ndash;&gt;-->
<!--												<ul class="add-remove-frnd">-->
<!--													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>-->
<!--													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>-->
<!--												</ul>-->
<!--											</div>-->
<!--										</li>-->
<!--&lt;!&ndash;										&ndash;&gt;-->
<!--									</ul>-->

<!--									<ul class="frndz-list"  th:each="r: ${userRelationshipList}">-->
<!--										<li>-->
<!--											<img th:src="@{'/imageP/'+ ${r.user.getAvatar()}}" alt="">-->
<!--											<div class="sugtd-frnd-meta">-->
<!--												<a href="#" title=""  th:text="${r.user.getUsername()}">Olivia</a>-->
<!--												&lt;!&ndash;												<span>1 mutual friend</span>&ndash;&gt;-->
<!--												<ul class="add-remove-frnd">-->
<!--													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>-->
<!--													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>-->
<!--												</ul>-->
<!--											</div>-->
<!--										</li>-->
<!--										&lt;!&ndash;										&ndash;&gt;-->
<!--									</ul>-->
<!--								</div>-->
<!--&lt;!&ndash;-->
<!--								<&#45;&#45; friends list &ndash;&gt;-->
<!--								<div class="central-meta">-->
<!--									<span class="create-post">Photos (580) <a href="timeline-photos.html" title="">See All</a></span>-->
<!--									<ul class="photos-list">-->
<!--										<li>-->
<!--											<div class="item-box">-->
<!--												<a class="strip" href="images/resources/photo-22.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">-->
<!--												<img src="images/resources/photo2.jpg" alt=""></a>-->
<!--												<div class="over-photo">-->
<!--													<div class="likes heart" title="Like/Dislike">❤ <span>15</span></div>-->
<!--													<span>20 hours ago</span>-->
<!--												</div>-->
<!--											</div>-->
<!--										</li>-->

<!--									</ul>-->
<!--								</div>-->
<!--&lt;!&ndash;								&ndash;&gt;-->
<!--							</div>-->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->

	<a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Pitnik 2020. All rights reserved.</span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>
<!--	-->

	<div class="popup-wraper1">
		<div class="popup direct-mesg">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Send Message</h5>
				</div>
				<div class="send-message">
					<form method="post" class="c-form">
						<input type="text" placeholder="Sophia">
						<textarea placeholder="Write Message"></textarea>
						<button type="submit" class="main-btn">Send</button>
					</form>
					<div class="add-smiles">
						<div class="uploadimage">
							<i class="fa fa-image"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</div>
						<span title="add icon" class="em em-expressionless"></span>
						<div class="smiles-bunch">
							<i class="em em---1"></i>
							<i class="em em-smiley"></i>
							<i class="em em-anguished"></i>
							<i class="em em-laughing"></i>
							<i class="em em-angry"></i>
							<i class="em em-astonished"></i>
							<i class="em em-blush"></i>
							<i class="em em-disappointed"></i>
							<i class="em em-worried"></i>
							<i class="em em-kissing_heart"></i>
							<i class="em em-rage"></i>
							<i class="em em-stuck_out_tongue"></i>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div><!-- send message popup -->	
	
	<div class="popup-wraper3">
		<div class="popup">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Report Post</h5>
				</div>
				<div class="Rpt-meta">
					<span>We're sorry something's wrong. How can we help?</span>
					<form method="post" class="c-form">
						<div class="form-radio">
						  <div class="radio">
							<label>
							  <input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
							</label>
						  </div>
						  <div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
							</label>
						  </div>
							<div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>Not Related
							</label>
						  </div>
							<div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>Other issues
							</label>
						  </div>
						</div>
					<div>
						<label>Write about Report</label>
						<textarea placeholder="write someting about Post" rows="2"></textarea>
					</div>
					<div>
						<button data-ripple="" type="submit" class="main-btn">Submit</button>
						<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
					</div>
					</form>	
				</div>
			</div>	
		</div>
	</div><!-- report popup -->
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/main.min.js"></script>
	<script src="/js/script.js"></script>

</body>	

</html>