<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
	<link rel="stylesheet" href="/css/weather-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<div class="wavy-wraper">
		<div class="wavy">
		  <span style="--i:1;">p</span>
		  <span style="--i:2;">i</span>
		  <span style="--i:3;">t</span>
		  <span style="--i:4;">n</span>
		  <span style="--i:5;">i</span>
		  <span style="--i:6;">k</span>
		  <span style="--i:7;">.</span>
		  <span style="--i:8;">.</span>
		  <span style="--i:9;">.</span>
		</div>
	</div>
<div class="theme-layout">

	<div class="postoverlay"></div>

	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="/images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search"/>
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>


	</div><!-- responsive header -->

	<div class="topbar stick" th:replace="/header1::header1">

	</div><!-- header1 -->

	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static left">

									<div class="widget" th:fragment="shortcuts">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="/home" title="">News feed</a>
											</li>

											<li>
												<i class="ti-user"></i>
												<a href="/timeline-friends2" title="">friends</a>
											</li>
											<li>
												<i class="ti-image"></i>
												<a href="/timeline-photos" title="">images</a>
											</li>

											<li>
												<i class="ti-comments-smiley"></i>
												<a href="/timeline" title="">Timeline</a>
											</li>
											<li>
												<i class="ti-bell"></i>
												<a href="/about" title="">About me</a>
											</li>

											<li>
												<i class="ti-power-off"></i>
												<a href="/logout" title="">Logout</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->

									<div class="widget stick-widget" th:fragment="people">
										<h4 class="widget-title">People you may know</h4>
										<ul class="followers" th:each="userF:${noRelationshipUserList}">
											<li>
												<figure><img th:src="@{${'/imageP/'+userF.getAvatar()}}" alt=""></figure>
												<div class="friend-meta">
													<h4><a th:href="@{/detailProfileFriend/{id}(id=${userF.getId()})}" title="" th:text="${userF.getUsername()}" ></a></h4>
													<a th:href="@{/addFriend/{id}(id=${userF.getId()})}" title="" class="underline">Add Friend</a>
												</div>
											</li>

										</ul>
									</div><!-- People you may know -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6" >
								<div class="central-meta postbox" th:fragment="Create_post">
									<span class="create-post">Create post</span>
                                    <form th:object="${postForm}" action="/createpost" method="post" enctype="multipart/form-data">
                                        <div class="new-postbox">
                                            <figure>
                                                <img th:src="@{${'/imageP/'+user.getAvatar()}}" alt="" height="30px"
                                                     width="30px">
                                            </figure>

                                            <div class="friend-name">
                                                <ins><a href="time-line.html" title=""
                                                        th:text="${user.username}">Jack Carter</a>
                                                </ins>
                                                <select class="form-select form-select-sm" th:field="*{status}" >
                                                    <option th:value="0"><i class="fa fa-globe fa-fw"></i>Only me</option>
                                                    <option th:value="1" > <i class="fa fa-lock fa-fw"></i> Public</option>
                                                    <option th:value="2" > <i class="fa fa-users fa-fw"></i> Friends</option>
                                                </select>
												<div class="newpst-input">
                                                <textarea th:field="*{content}"
														  placeholder="Share some what you are thinking?"></textarea>
												</div>
												<div class="attachments">
													<div class="c-form">
														<div class="edit-img">
															<label class="fileContainer">
																<input type="file" th:field="*{images}" multiple>

																<i class="fa fa-camera-retro"></i>
																Add photos to your post
															</label>
														</div>
													</div>
												</div>

												<button class="post-btn" type="submit" data-ripple="">Post</button>
                                            </div>
                                        </div>
                                    </form>

								</div><!-- add post new box -->

								<div class="" th:each="post: ${listPost}">
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img th:src="@{${'/imageP/'+post.getUser().getAvatar()}}" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
															</ul>
														</div>
													</div>
													<ins><a href="time-line.html" title="" th:text="${post.getUser().getUsername()}">Jack Carter</a></ins>
													<span> Published: <i class=""th:text="${post.getSimpleDate()}" ></i></span>
												</div>
												<div class="post-meta">
													<p th:text="${post.getContent()}">
														Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
													</p>
													<figure>
														<div class="img-bunch">
															<div class="row">
<!--																-->
																<div class="col-lg-6 col-md-6 col-sm-6" th:each="image:${post.getImages()}">
																	<figure >
																		<a class="strip" href="images/resources/album6.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																		<img th:src="@{${'/imageP/'+image.image_link}}" alt="">
																		</a>
																	</figure>
																</div>
															</div>
														</div>

													</figure>
													<div class="we-video-info">
														<ul>
															<li>
																<span class="views" title="views">
																	<i class="fa fa-eye"></i>
																	<ins>1.2k</ins>
																</span>
															</li><li>
															<div th:id="${post.getId()}+'formLike'">

																<div class="likes heart" title="Like/Dislike" th:onclick="|checkLike('${post.getId()}')|">❤ <span id="${post.getId()}+'totalLike'" th:value="${post.getLikes()}" th:text="${post.getLikes()}"></span></div>
															</div>
														</li>
															<li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting" th:onclick="|getListComment('${post.getId()}')|"></i>
																	<ins>52</ins>
																</span>
															</li>

															<li>
																<span>
																	<a class="share-pst" href="#" title="Share">
																		<i class="fa fa-share-alt" ></i>
																	</a>
																	<ins>20</ins>
																</span>
															</li>
														</ul>

													</div>
												</div>
												<div class="coment-area" style="display: none;">

													<ul class="we-comet" th:id="${post.getId()}+'formListComment'">


													</ul>

													<ul class="post-comment" th:id="${post.getId()}+'formComment'">


													</ul>

												</div>
											</div>

										</div>
									</div><!-- album post -->
							    </div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static right">

									<div class="widget stick-widget" th:fragment="rencent-links">
										<h4 class="widget-title">Recent Links <a title="" href="#" class="see-all"></a></h4>
										<ul class="recent-links">
											<li>
												<figure><img src="/img/images/resources/recentlink-1.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">moira's fade reaches much farther than you think.</a></h6>
													<span>2 weeks ago </span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-2.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">daniel asks if we want him to do the voice of doomfist</a></h6>
													<span>3 months ago </span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-3.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">the pitnik overwatch scandals.</a></h6>
													<span>1 day before</span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-1.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">moira's fade reaches much farther than you think.</a></h6>
													<span>2 weeks ago </span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-2.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">daniel asks if we want him to do the voice of doomfist</a></h6>
													<span>3 months ago </span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-3.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">the pitnik overwatch scandals.</a></h6>
													<span>1 day before</span>
												</div>
											</li>
											<li>
												<figure><img src="/img/images/resources/recentlink-1.jpg" alt=""></figure>
												<div class="re-links-meta">
													<h6><a href="#" title="">moira's fade reaches much farther than you think.</a></h6>
													<span>2 weeks ago </span>
												</div>
											</li>
										</ul>
									</div><!-- recent links -->
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Pitnik 2020. All rights reserved.</span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="popup-wraper2">
		<div class="popup post-sharing">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<select data-placeholder="Share to friends..." multiple class="chosen-select multi">
						<option>Share in your feed</option>
						<option>Share in friend feed</option>
						<option>Share in a page</option>
						<option>Share in a group</option>
						<option>Share in message</option>
					</select>
					<div class="post-status">
						<span><i class="fa fa-globe"></i></span>
						<ul>
							<li><a href="#" title=""><i class="fa fa-globe"></i> Post Globaly</a></li>
							<li><a href="#" title=""><i class="fa fa-user"></i> Post Private</a></li>
							<li><a href="#" title=""><i class="fa fa-user-plus"></i> Post Friends</a></li>
						</ul>
					</div>
				</div>
				<div class="postbox">
					<div class="post-comt-box">
						<form method="post">
							<input type="text" placeholder="Search Friends, Pages, Groups, etc....">
							<textarea placeholder="Say something about this..."></textarea>
							<div class="add-smiles">
								<span title="add icon" class="em em-expressionless"></span>
								<div class="smiles-bunch">
									<i class="em em---1"></i>
									<i class="em em-smiley"></i>
									<i class="em em-anguished"></i>
									<i class="em em-laughing"></i>
									<i class="em em-angry"></i>
									<i class="em em-astonished"></i>
									<i class="em em-blush"></i>
									<i class="em em-disappointed"></i>
									<i class="em em-worried"></i>
									<i class="em em-kissing_heart"></i>
									<i class="em em-rage"></i>
									<i class="em em-stuck_out_tongue"></i>
								</div>
							</div>

							<button type="submit"></button>
						</form>
					</div>
					<figure><img src="images/resources/share-post.jpg" alt=""></figure>
					<div class="friend-info">
						<figure>
							<img alt="" src="images/resources/admin.jpg">
						</figure>
						<div class="friend-name">
							<ins><a title="" href="time-line.html">Jack Carter</a> share <a title="" href="#">link</a></ins>
							<span>Yesterday with @Jack Piller and @Emily Stone at the concert of # Rock'n'Rolla in Ontario.</span>
						</div>
					</div>
					<div class="share-to-other">
						<span>Share to other socials</span>
						<ul>
							<li><a class="facebook-color" href="#" title=""><i class="fa fa-facebook-square"></i></a></li>
							<li><a class="twitter-color" href="#" title=""><i class="fa fa-twitter-square"></i></a></li>
							<li><a class="dribble-color" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
							<li><a class="instagram-color" href="#" title=""><i class="fa fa-instagram"></i></a></li>
							<li><a class="pinterest-color" href="#" title=""><i class="fa fa-pinterest-square"></i></a></li>
						</ul>
					</div>
					<div class="copy-email">
						<span>Copy & Email</span>
						<ul>
							<li><a href="#" title="Copy Post Link"><i class="fa fa-link"></i></a></li>
							<li><a href="#" title="Email this Post"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
					<div class="we-video-info">
						<ul>
							<li>
								<span title="" data-toggle="tooltip" class="views" data-original-title="views">
									<i class="fa fa-eye"></i>
									<ins>1.2k</ins>
								</span>
							</li>
							<li>
								<span title="" data-toggle="tooltip" class="views" data-original-title="views">
									<i class="fa fa-share-alt"></i>
									<ins>20k</ins>
								</span>
							</li>
						</ul>
						<button class="main-btn color" data-ripple="">Submit</button>
						<button class="main-btn cancel" data-ripple="">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div><!-- share popup -->

	<div class="popup-wraper3">
		<div class="popup">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Report Post</h5>
				</div>
				<div class="Rpt-meta">
					<span>We're sorry something's wrong. How can we help?</span>
					<form method="post" class="c-form">
						<div class="form-radio">
						  <div class="radio">
							<label>
							  <input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
							</label>
						  </div>
						  <div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
							</label>
						  </div>
							<div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>Not Related
							</label>
						  </div>
							<div class="radio">
							<label>
							  <input type="radio" name="radio"><i class="check-box"></i>Other issues
							</label>
						  </div>
						</div>
					<div>
						<label>Write about Report</label>
						<textarea placeholder="write someting about Post" rows="2"></textarea>
					</div>
					<div>
						<button data-ripple="" type="submit" class="main-btn">Submit</button>
						<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div><!-- report popup -->

	<div class="popup-wraper1">
		<div class="popup direct-mesg">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Send Message</h5>
				</div>
				<div class="send-message">
					<form method="post" class="c-form">
						<input type="text" placeholder="Sophia">
						<textarea placeholder="Write Message"></textarea>
						<button type="submit" class="main-btn">Send</button>
					</form>
					<div class="add-smiles">
						<div class="uploadimage">
							<i class="fa fa-image"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</div>
						<span title="add icon" class="em em-expressionless"></span>
						<div class="smiles-bunch">
							<i class="em em---1"></i>
							<i class="em em-smiley"></i>
							<i class="em em-anguished"></i>
							<i class="em em-laughing"></i>
							<i class="em em-angry"></i>
							<i class="em em-astonished"></i>
							<i class="em em-blush"></i>
							<i class="em em-disappointed"></i>
							<i class="em em-worried"></i>
							<i class="em em-kissing_heart"></i>
							<i class="em em-rage"></i>
							<i class="em em-stuck_out_tongue"></i>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div><!-- send message popup -->

	<script src="js/main.min.js"></script>
	<script src="js/jquery-stories.js"></script>
	<script src="/cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="/js/locationpicker.jquery.js"></script>
	<script src="/js/map-init.js"></script>
	<script src="/js/script.js"></script>
	<script>
		jQuery(document).ready(function($) {

			$('#us3').locationpicker({
			  location: {
			    latitude: -8.681013,
			    longitude: 115.23506410000005
			  },
			  radius: 0,
			  inputBinding: {
			    latitudeInput: $('#us3-lat'),
			    longitudeInput: $('#us3-lon'),
			    radiusInput: $('#us3-radius'),
			    locationNameInput: $('#us3-address')
			  },
			  enableAutocomplete: true,
			  onchanged: function (currentLocation, radius, isMarkerDropped) {
			    // Uncomment line below to show alert on each Location Changed event
			    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
			  }
			});

		});
</script>

<script src="/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	function addNewComment(id){
		let content = document.getElementById("p"+id).value;



		let newComment = {
			content : content
		};
		$.ajax({
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					type: "POST",
					data: JSON.stringify(newComment),
					//tên API
					url: `http://localhost:8080/comment/create/${id}`,
					//xử lý khi thành công



					error: function () { // error callback
						alert("lỗi")
					}

				}
		).done(getListComment(id))
				.always(getListComment(id))
		//chặn sự kiện mặc định của thẻ
		event.preventDefault();
	}

	function addFormComment(a){
		let  content = `
            <div class="post-comt-box" >
                <form>
                    <textarea id="p${a}" placeholder="Post your comment"></textarea>
                </form>

                    <button class="btn btn-success" onclick="addNewComment(${a})">Send</button>

            </div>`
		let divID = a+"formComment";
		document.getElementById(divID).innerHTML = content;
	}
	function getListComment(a){
		let divId = a + 'formListComment'
		$.ajax({
					type: "GET",
					//tên API
					url: `http://localhost:8080/comment/listcomment/${a}`,
					//xử lý khi thành công
					success: function (data) {
						// hien thi danh sach o day
						var content ="";
						for (let i = 0; i < data.length; i++) {
							content += getComment(data[i]);
						}
						document.getElementById(divId).innerHTML = content;
					},
					succes: addFormComment(a),
					error: function () { // error callback
						alert("lỗi")
					}
				}
		)
		event.preventDefault();
	}
	function getComment(comment){
		let image = comment.user.avatar
		return `<li>
			<div class="comet-avatar" ><figure>
<img src="${'/imageP/' +image}" alt="" height="30px" width="30px">
</figure></div>
            <div class="we-comment">

                <h5><a href="time-line.html" title="">${comment.user.name}</a></h5>
                <p>${comment.content}</p>

            </div>

        </li>`
	}
	function testAlert(){
		var test = document.getElementById("test123").value;
		console.log(test)
	}
	function checkLike(postId){
		$.ajax({
			type:"POST",
			url:`http://localhost:8080/like/${postId}`,
			success: getLike(postId),
			error: function (){
				alert("loi")
			}
		})
		event.preventDefault();
	}
	function getLike(postId){
		let div = postId + 'formLike'
		$.ajax({
			type:"GET",
			url:`http://localhost:8080/like/quantity/${postId}`,

			success: function(data){
				let content = ""
				content += getLikesForm(data)
				document.getElementById(div).innerHTML = content

			},
			error: function (){
				alert("loi")
			}

		})
	}
	function getLikesForm(like){

		return `<div class="likes heart" title="Like/Dislike" onclick="checkLike(${like.id})">❤
<span id="${like.id}+'totalLike'"  >${like.likes}</span>
</div>`
	}


</script>
</body>

</html>