<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="/img/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<div class="wavy-wraper">
    <div class="wavy">
        <span style="--i:1;">p</span>
        <span style="--i:2;">i</span>
        <span style="--i:3;">t</span>
        <span style="--i:4;">n</span>
        <span style="--i:5;">i</span>
        <span style="--i:6;">k</span>
        <span style="--i:7;">.</span>
        <span style="--i:8;">.</span>
        <span style="--i:9;">.</span>
    </div>
</div>
<div class="theme-layout">

</div><!-- responsive header -->

<div class="topbar stick" th:replace="/header1::header1">

</div><!-- header1 -->

<section>
    <div class="gap2 gray-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile" th:replace="/header2:: header2">

                        </div><!-- user profile banner  -->
                        <div class="col-lg-3">
                            <aside class="sidebar static left">

                                <div class="widget" th:replace="/newsfeed::shortcuts">

                                </div><!-- Shortcuts -->

                                <div class="widget stick-widget" th:replace="/newsfeed::people">

                                </div><!-- who's following -->
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6" >
                            <div class="central-meta postbox" th:replace="/newsfeed::Create_post"></div>
                            <div class="" th:each="p: ${post}">
                                <div class="central-meta item">
                                    <div class="user-post">
                                        <div class="friend-info">
                                            <figure>
                                                <img th:src="@{${'/imageP/'+p.getUser().getAvatar()}}" alt="">
                                            </figure>
                                            <div class="friend-name">
                                                <div class="more">
                                                    <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                        <ul>
                                                            <li><i class="fa fa-pencil-square-o"></i><a th:href="@{/edit-post-form/{id}(id=${p.getId()})}">Edit Post</a></li>
                                                            <li><i class="fa fa-trash-o"></i><a th:href="@{/delete/{id}(id=${p.getId()})}" onclick="return confirm('Are you sure to delete?')" th:method="post">Delete Post</a></li>
                                                            <!--																-->
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ins><a href="time-line.html" title=""
                                                        th:text="${p.getUser().getUsername()}">Jack Carter</a></ins>
                                                <span >Published: <i th:text="${p.getSimpleDate()}" class=""></i></span>
                                            </div>
                                            <div class="post-meta">
                                                <p th:text="${p.getContent()}">
                                                    Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                                                    condimentum rhoncus, sem quam semper libero.
                                                </p>
                                                <figure>
                                                    <div class="img-bunch">
                                                        <div class="row">
                                                            <!--																-->
                                                            <div class="col-lg-6 col-md-6 col-sm-6"
                                                                 th:each="image:${p.getImages()}">
                                                                <figure>
                                                                    <a class="strip" href="images/resources/album6.jpg"
                                                                       title="" data-strip-group="mygroup"
                                                                       data-strip-group-options="loop: false">
                                                                        <img th:src="@{${'/imageP/'+image.image_link}}"
                                                                             alt="">
                                                                    </a>
                                                                </figure>
                                                                <!--																	-->
                                                            </div>
                                                        </div>
                                                    </div>
<!--                                                    <ul class="like-dislike">-->
<!--                                                        <li><a class="bg-purple" href="#" title="Save to Pin Post"><i-->
<!--                                                                class="fa fa-thumb-tack"></i></a></li>-->
<!--                                                        <li><a class="bg-blue" href="#" title="Like Post"><i-->
<!--                                                                class="ti-thumb-up"></i></a></li>-->
<!--                                                        <li><a class="bg-red" href="#" title="dislike Post"><i-->
<!--                                                                class="ti-thumb-down"></i></a></li>-->
<!--                                                    </ul>-->
                                                </figure>
<!--                                                <div class="we-video-info">-->
<!--                                                    <ul>-->
<!--                                                        &lt;!&ndash;															&ndash;&gt;-->
<!--                                                        <li>-->
<!--                                                            <div class="likes heart" title="Like/Dislike">❤-->
<!--                                                                <span>2K</span></div>-->
<!--                                                        </li>-->
<!--                                                        &lt;!&ndash;															&ndash;&gt;-->
<!--                                                    </ul>-->
<!--                                                    <div class="users-thumb-list">-->
<!--                                                        <a data-toggle="tooltip" title="Anderw" href="#">-->
<!--                                                            <img alt="" src="images/resources/userlist-1.jpg">-->
<!--                                                        </a>-->
<!--                                                        <a data-toggle="tooltip" title="frank" href="#">-->
<!--                                                            <img alt="" src="images/resources/userlist-2.jpg">-->
<!--                                                        </a>-->
<!--                                                        <a data-toggle="tooltip" title="Sara" href="#">-->
<!--                                                            <img alt="" src="images/resources/userlist-3.jpg">-->
<!--                                                        </a>-->
<!--                                                        <a data-toggle="tooltip" title="Amy" href="#">-->
<!--                                                            <img alt="" src="images/resources/userlist-4.jpg">-->
<!--                                                        </a>-->
<!--                                                        <a data-toggle="tooltip" title="Ema" href="#">-->
<!--                                                            <img alt="" src="images/resources/userlist-5.jpg">-->
<!--                                                        </a>-->
<!--                                                        <span><strong>You</strong>, <b>Sarah</b> and <a href="#"-->
<!--                                                                                                        title="">24+ more</a> liked</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>

                                        </div>

                                    </div>
                                </div><!-- album post -->
                            </div><!-- centerl meta -->
                        </div>

                        <div class="col-lg-3">
                            <aside class="sidebar static right">

                                <div class="widget stick-widget" th:replace="/newsfeed::rencent-links">

                                </div><!-- recent links -->
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
	</div>
</section><!-- content -->
<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Pitnik 2020. All rights reserved.</span>
                <i><img src="/img/images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div><!-- bottom bar -->
</div>

<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5>Send Message</h5>
            </div>
            <div class="send-message">
                <form method="post" class="c-form">
                    <input type="text" placeholder="Sophia">
                    <textarea placeholder="Write Message"></textarea>
                    <button type="submit" class="main-btn">Send</button>
                </form>
                <div class="add-smiles">
                    <div class="uploadimage">
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                            <input type="file">
                        </label>
                    </div>
                    <span title="add icon" class="em em-expressionless"></span>
                    <div class="smiles-bunch">
                        <i class="em em---1"></i>
                        <i class="em em-smiley"></i>
                        <i class="em em-anguished"></i>
                        <i class="em em-laughing"></i>
                        <i class="em em-angry"></i>
                        <i class="em em-astonished"></i>
                        <i class="em em-blush"></i>
                        <i class="em em-disappointed"></i>
                        <i class="em em-worried"></i>
                        <i class="em em-kissing_heart"></i>
                        <i class="em em-rage"></i>
                        <i class="em em-stuck_out_tongue"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- send message popup -->

<script src="/js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="/js/locationpicker.jquery.js"></script>
<script src="/js/map-init.js"></script>
<script src="/js/script.js"></script>
<script>
    jQuery(document).ready(function ($) {

        $('#us3').locationpicker({
            location: {
                latitude: -8.681013,
                longitude: 115.23506410000005
            },
            radius: 0,
            inputBinding: {
                latitudeInput: $('#us3-lat'),
                longitudeInput: $('#us3-lon'),
                radiusInput: $('#us3-radius'),
                locationNameInput: $('#us3-address')
            },
            enableAutocomplete: true,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
            }
        });

    });
</script>
</body>
</html>