<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<div class="wavy-wraper">
    <div class="wavy">
        <span style="--i:1;">p</span>
        <span style="--i:2;">i</span>
        <span style="--i:3;">t</span>
        <span style="--i:4;">n</span>
        <span style="--i:5;">i</span>
        <span style="--i:6;">k</span>
        <span style="--i:7;">.</span>
        <span style="--i:8;">.</span>
        <span style="--i:9;">.</span>
    </div>
</div>
<div class="theme-layout">

    <div class="responsive-header">
        <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
            <span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
            <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
        </div>
        <div class="mh-head second">
            <form class="mh-form">
                <input placeholder="search"/>
                <a href="#/" class="fa fa-search"></a>
            </form>
        </div>
        <nav id="menu" class="res-menu">
            <ul>
                <li><span>Home Pages</span>
                    <ul>
                        <li><a href="index.html" title="">Pitnik Default</a></li>
                        <li><a href="company-landing.html" title="">Company Landing</a></li>
                        <li><a href="pitrest.html" title="">Pitrest</a></li>
                        <li><a href="redpit.html" title="">Redpit</a></li>
                        <li><a href="redpit-category.html" title="">Redpit Category</a></li>
                        <li><a href="soundnik.html" title="">Soundnik</a></li>
                        <li><a href="soundnik-detail.html" title="">Soundnik Single</a></li>
                        <li><a href="career.html" title="">Pitjob</a></li>
                        <li><a href="shop.html" title="">Shop</a></li>
                        <li><a href="classified.html" title="">Classified</a></li>
                        <li><a href="pitpoint.html" title="">PitPoint</a></li>
                        <li><a href="pittube.html" title="">Pittube</a></li>
                        <li><a href="chat-messenger.html" title="">Messenger</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

    </div><!-- responsive header -->

    <div class="topbar stick" th:replace="/header1::header1">

    </div><!-- header1 -->

    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            <div class="user-profile" th:replace="/header2:: header2">

                            </div><!-- user profile banner  -->
                            <div class="col-lg-12">
                                <div class="central-meta">
                                    <div class="title-block">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="align-left">
                                                    <h5>Friends</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row merged20">
                                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                                        <form action="/search" method="get">
                                                            <input name="search" type="text" placeholder="Search Friend">
                                                            <button type="submit"><i class="fa fa-search"></i></button>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- title block -->
                                <div class="central-meta padding30">
                                    <div class="row merged20">

                                            <div class="col-lg-3 col-md-6 col-sm-6" th:each="r: ${userFriendRelationshipList}">
                                                <div class="friend-block" >

                                                    <figure>
                                                        <img  th:src="@{'/imageP/'+ ${r.userFriend.getAvatar()}}" alt="images/resources/frnd-figure1.jpg">
                                                    </figure>

                                                    <div class="frnd-meta">
                                                        <div class="frnd-name">
                                                            <a th:href="@{/detailProfileFriend/{id}(id=${r.getUserFriend().getId()})}" title=""><span th:text="${r.userFriend.getUsername()}"></span></a>
<!--                                                            <span>Los Angeles, CA</span>-->
                                                        </div><br>
                                                        <a class="send-mesg" href="#" title="">Unfriend</a>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6" th:each="r: ${userRelationshipList}">
                                            <div class="friend-block" >
<!--                                                <div class="more-opotnz">-->
<!--                                                    <i class="fa fa-ellipsis-h"></i>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="#" title="">Block</a></li>-->
<!--                                                        <li><a href="#" title="">UnBlock</a></li>-->
<!--                                                        <li><a href="#" title="">Mute Notifications</a></li>-->
<!--                                                        <li><a href="#" title="">hide from friend list</a></li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
                                                <figure>
                                                    <img  th:src="@{'/imageP/'+ ${r.user.getAvatar()}}" alt="images/resources/frnd-figure1.jpg">
                                                </figure>

                                                <div class="frnd-meta">
                                                    <div class="frnd-name">
                                                        <a href="#" title=""><span th:text="${r.user.getUsername()}"></span></a>
                                                        <!--                                                            <span>Los Angeles, CA</span>-->
                                                    </div><br>
                                                    <a class="send-mesg" href="#" title="">Unfriend</a>
                                                </div>
                                            </div>
                                        </div>
<!--                                            -->
                                    </div>
<!--                                    <div class="lodmore">-->
<!--                                        <span>Viewing 1-16 of 30 friends</span>-->
<!--                                        <button class="btn-view btn-load-more"></button>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- content -->

<!--    <a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i-->
<!--            class="fa fa-shopping-bag"></i><span>02</span></a>-->

    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">© Mini Face 2021. All rights reserved.</span>
                    <i><img src="images/credit-cards.png" alt=""></i>
                </div>
            </div>
        </div>
    </div><!-- bottom bar -->
</div>
<!-- side panel -->

<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5>Send Message</h5>
            </div>
            <div class="send-message">
                <form method="post" class="c-form">
                    <input type="text" placeholder="Sophia">
                    <textarea placeholder="Write Message"></textarea>
                    <button type="submit" class="main-btn">Send</button>
                </form>
                <div class="add-smiles">
                    <div class="uploadimage">
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                            <input type="file">
                        </label>
                    </div>
                    <span title="add icon" class="em em-expressionless"></span>
                    <div class="smiles-bunch">
                        <i class="em em---1"></i>
                        <i class="em em-smiley"></i>
                        <i class="em em-anguished"></i>
                        <i class="em em-laughing"></i>
                        <i class="em em-angry"></i>
                        <i class="em em-astonished"></i>
                        <i class="em em-blush"></i>
                        <i class="em em-disappointed"></i>
                        <i class="em em-worried"></i>
                        <i class="em em-kissing_heart"></i>
                        <i class="em em-rage"></i>
                        <i class="em em-stuck_out_tongue"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- send message popup -->

<!-- report popup -->

<script src="js/main.min.js"></script>
<script src="js/script.js"></script>

</body>

</html>