<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<div class="wavy-wraper">
    <div class="wavy">
        <span style="--i:1;">p</span>
        <span style="--i:2;">i</span>
        <span style="--i:3;">t</span>
        <span style="--i:4;">n</span>
        <span style="--i:5;">i</span>
        <span style="--i:6;">k</span>
        <span style="--i:7;">.</span>
        <span style="--i:8;">.</span>
        <span style="--i:9;">.</span>
    </div>
</div>
<div class="theme-layout">

</div><!-- responsive header -->

<div class="topbar stick" th:replace="/header1::header1">

</div><!-- header1 -->

<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile" th:replace="/header2:: header2">

                        </div><!-- user profile banner  -->
                        <div class="col-lg-3">
                            <aside class="sidebar static left">

                                <div class="widget" th:replace="/newsfeed::shortcuts"></div>

                            </aside>
                        </div><!-- sidebar -->

                        <div class="col-lg-6">
<!--                            <div class="central-meta postbox"></div>-->
                            <span th:if="${message}"><p th:text="${message}"></p></span>
                            <form th:action="@{/edit-post}" method="post" th:object="${optionalPost}" enctype="multipart/form-data">
                                <div class="">
                                    <div class="central-meta item">
<!--                                        <div class="user-post">-->
<!--                                            <div class="friend-info">-->
                                                <div class="friend-name">
                                                    <ins><a href="time-line.html" title=""></a></ins>

                                                    <input th:field="*{id}" hidden>
                                                </div>
                                                <div class="post-meta">
                                                    <div>
                                                        <label>Content: </label>
                                                        <textarea type="text" th:field="*{content}"></textarea>
                                                    </div>
                                                    <select class="form-select form-select-sm" th:field="*{status}">
                                                        <option th:value="0"><i class="fa fa-globe fa-fw"></i>Public</option>
                                                        <option th:value="1" ><i class="fa fa-lock fa-fw"></i> Only me</option>
                                                        <option th:value="2" ><i class="fa fa-users fa-fw"></i> Friends</option>

                                                    </select>
                                                    <figure>
                                                        <div class="img-bunch">
                                                            <div class="row">
                                                                    <div class="c-form">
                                                                        <div class="edit-img">
                                                                            <label class="fileContainer">
                                                                                <input type="file" th:field="*{images}" multiple>

                                                                                <i class="fa fa-camera-retro"></i>
                                                                                Click here to edit photos
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="img-bunch">
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-md-6 col-sm-6"
                                                                                 th:each="image:${optionalPost.images}">
                                                                                <figure>
                                                                                    <a class="strip" href="images/resources/album6.jpg"
                                                                                       title="" data-strip-group="mygroup"
                                                                                       data-strip-group-options="loop: false">
                                                                                        <img th:src="@{${'/imageP/'+image.image_link}}"
                                                                                             alt="">
                                                                                    </a>
                                                                                </figure>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>
<!--                                            </div>-->
                                        </div>
                                    </div><!-- album post -->
<!--                                </div>&lt;!&ndash; centerl meta &ndash;&gt;-->
                                <div>
                                    <button class="post-btn" type="submit" data-ripple="">Post</button>

                                </div>
                            </form>
                        </div>


                        <div class="col-lg-3">
                            <aside class="sidebar static right">

                                <div class="widget stick-widget" th:replace="/newsfeed::rencent-links">
<!--                                    <h4 class="widget-title">Recent Links <a title="" href="#" class="see-all">See-->
<!--                                        All</a></h4>-->
<!--                                    <ul class="recent-links">-->
<!--                                        <li>-->
<!--                                            <figure><img src="images/resources/recentlink-1.jpg" alt=""></figure>-->
<!--                                            <div class="re-links-meta">-->
<!--                                                <h6><a href="#" title="">moira's fade reaches much farther than you-->
<!--                                                    think.</a></h6>-->
<!--                                                <span>2 weeks ago </span>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <figure><img src="images/resources/recentlink-2.jpg" alt=""></figure>-->
<!--                                            <div class="re-links-meta">-->
<!--                                                <h6><a href="#" title="">daniel asks if we want him to do the voice of-->
<!--                                                    doomfist</a></h6>-->
<!--                                                <span>3 months ago </span>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <figure><img src="images/resources/recentlink-3.jpg" alt=""></figure>-->
<!--                                            <div class="re-links-meta">-->
<!--                                                <h6><a href="#" title="">the pitnik overwatch scandals.</a></h6>-->
<!--                                                <span>1 day before</span>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
                                </div><!-- recent links -->
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- content -->
<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Pitnik 2020. All rights reserved.</span>
                <i><img src="images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div><!-- bottom bar -->
</div>

<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5>Send Message</h5>
            </div>
            <div class="send-message">
                <form method="post" class="c-form">
                    <input type="text" placeholder="Sophia">
                    <textarea placeholder="Write Message"></textarea>
                    <button type="submit" class="main-btn">Send</button>
                </form>
                <div class="add-smiles">
                    <div class="uploadimage">
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                            <input type="file">
                        </label>
                    </div>
                    <span title="add icon" class="em em-expressionless"></span>
                    <div class="smiles-bunch">
                        <i class="em em---1"></i>
                        <i class="em em-smiley"></i>
                        <i class="em em-anguished"></i>
                        <i class="em em-laughing"></i>
                        <i class="em em-angry"></i>
                        <i class="em em-astonished"></i>
                        <i class="em em-blush"></i>
                        <i class="em em-disappointed"></i>
                        <i class="em em-worried"></i>
                        <i class="em em-kissing_heart"></i>
                        <i class="em em-rage"></i>
                        <i class="em em-stuck_out_tongue"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- send message popup -->

<script src="/js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="/js/locationpicker.jquery.js"></script>
<script src="/js/map-init.js"></script>
<script src="/js/script.js"></script>
<script>
    jQuery(document).ready(function ($) {

        $('#us3').locationpicker({
            location: {
                latitude: -8.681013,
                longitude: 115.23506410000005
            },
            radius: 0,
            inputBinding: {
                latitudeInput: $('#us3-lat'),
                longitudeInput: $('#us3-lon'),
                radiusInput: $('#us3-radius'),
                locationNameInput: $('#us3-address')
            },
            enableAutocomplete: true,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
            }
        });

    });
</script>
</body>
</html>